<!DOCTYPE html>
<div class="more-detail">
    <div class="more-detail__field">
      <p class="more-detail__field__name t-detail-field">Current Timezone</p>
      <p class="more-detail__field__content t-detail-field-content">{{ timeZone.zoneName }}</p>
    </div>
    <div class="more-detail__field">
      <p class="more-detail__field__name t-detail-field">Day of the year</p>
      <p class="more-detail__field__content t-detail-field-content">{{ time.dayOfYear }}</p>
    </div>
    <div class="more-detail__field">
      <p class="more-detail__field__name t-detail-field">Day of the week</p>
      <p class="more-detail__field__content t-detail-field-content">{{ time.dayOfWeek }}</p>
    </div>
    <div class="more-detail__field">
      <p class="more-detail__field__name t-detail-field">Week number</p>
      <p class="more-detail__field__content t-detail-field-content">{{ time.weekNumber }}</p>
    </div>
  </div>